<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.mysql.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.Permission">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, url
    </sql>

    <select id="getPermission" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from permission
        where id = #{id}
    </select>

    <select id="getAllPermission" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from permission
    </select>

    <insert id="savePermission" parameterType="com.example.springboot.entity.Permission">
      insert into permission (name, url)
      values (#{name},#{url})
    </insert>

    <update id="updatePermission" parameterType="com.example.springboot.entity.Permission">
        update permission
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="url != null">
                url = #{url}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delPermission" parameterType="java.lang.Long">
        delete from permission where id = #{id}
    </delete>

    <!-- 批量新增权限-->
    <insert id="saveBatchPermission" parameterType="java.util.List">
        insert into permission (name, url)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name,jdbcType=VARCHAR},#{item.url,jdbcType=VARCHAR})
        </foreach>
    </insert>


</mapper>
