<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.mysql.RoleMapper">
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="BIGINT" property="status"/>
    </resultMap>

    <select id="getRole" resultMap="BaseResultMap">
        select * from role where id = #{id}
    </select>

    <select id="getAllRole" resultMap="BaseResultMap">
        select * from role
    </select>

    <insert id="saveRole" parameterType="com.example.springboot.entity.Role">
      insert into role (name, type,description) values (#{name},#{type}, #{description})
    </insert>

    <update id="updateRole" parameterType="com.example.springboot.entity.Role">
        update role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="description != null">
                description = #{description}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delRole" parameterType="java.lang.Long">
        delete from role where id = #{id}
    </delete>

    <update id="updataStatus" parameterType="java.lang.Long">
        update role
        <set>
            status =#{status}
        </set>
        where id = #{id}
    </update>

    <select id="findPermissionByRoleId" resultType="com.example.springboot.entity.Permission"
            parameterType="java.lang.Long">
       select p.* from role_permission rp  left join  permission  p on rp.pid= p.id
        where rid = #{rid}
    </select>


</mapper>
